@page
@model SeraphielArt.Pages.Story.IndexModel
@{
    ViewData["Title"] = "Stories";
    ViewData["Description"] = @"Story index, not to be used as the definitive edition is located <a href=""/Story/SolumanirV3"">here</<>.";
}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card col-lg-12">
                    <div class="card-body">
                        <h3 class="card-title justify-content-center">Stories index</h3>
                        <div class="d-grid gap-2 mt-3">
                            <a asp-page="/Story/Solumanir" class="btn btn-primary" type="button">Solumanir</a>
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <a asp-page="/Story/SolumanirAlt" class="btn btn-primary" type="button">Solumanir alternative</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
