@page
@model SeraphielArt.Pages.Story.SolumanirOldModel
@{
    ViewData["Title"] = "Solumanir Old version";
    ViewData["Description"] = "Old version of Solumanir's story.";
}

@Redirect("/Solumanir")

<div style="height: calc(100vh - 180px);">
    <iframe class="row-cols-lg-6 mb-3" frameBorder="0" src="https://www.mindmeister.com/maps/public_map_shell/3471258034/solumanir?width=600&height=400&z=auto&no_share=1&no_logo=1" scrolling="no" style="overflow: hidden; height: 100%; width: 100%;">
        Your browser is not able to display frames. Please visit <a href="https://www.mindmeister.com/maps/public_map_shell/3471258034/solumanir?width=600&height=400&z=auto&no_share=1&no_logo=1" target="_blank">Solumanir</a> on MindMeister.
    </iframe>
</div>
