@page
@model SeraphielArt.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Info";
}

<section class="section contact">
    <div class="row gy-4">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box card">
                        <i class="bi bi-envelope"></i>
                        <h3>Message me on discord</h3>
                        <p><a href="https://discord.com/users/675020556655001611">Discord</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box card">
                        <i class="bi bi-envelope"></i>
                        <h3>Email me</h3>
                        <p><a href="mailto:help@seraphiel.art">help@@seraphiel.art</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box card">
                        <i class="bi bi-clock"></i>
                        <h3>Active Hours</h3>
                        <p>Anytime I'm free</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
