@page
@model CompuprintScanServer.Pages.TommasoModel
@{
    ViewData["Title"] = "In loving memory of Tommaso Maruzzo";
}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 d-flex flex-column align-items-center justify-content-center">
                <div class="card">
                    <img src="img/tommaso.jpg" class="card-img-top" alt="Tommaso Maruzzo">
                    <div class="card-body">
                        <h5 class="card-title">In loving memory of Tommaso Maruzzo</h5>
                        <p class="card-text">2022-2024 - Intern at GDS</p>
                        <p class="card-text">(He's alive and well; he just doesn't work for us anymore)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
