@page
@using static SeraphielArt.Pages.Character.CharacterData

@model SeraphielArt.Pages.Character.IndexModel
@{
    ViewData["Title"] = "Characters";
    ViewData["Description"] = "Here you can view a list of the characters part of the storyline of Solumanir, which was created by Yuuki and written by Yuuki and Ushirokuma.";
}

<section class="section register min-vh-100 d-flex flex-column py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column">
                <div class="card col-lg-12">
                    <div class="card-body">
                        @{
                            Faction[] factions = (Faction[])Enum.GetValues(typeof(Faction));

                            for (int i = 1; i < factions.Length; i++)
                            {
                                <h5 class="card-title">@CharacterData.GetFactionName(factions[i])</h5>
                                Dictionary<string, string> chars = CharacterAPI.CharactersList.Where(v => ((int)v.Versions[0].Faction & (int)factions[i]) > 0)
                                                                                              .ToDictionary(c => c.Api, c => c.Name);
                                List<KeyValuePair<string, string>> charList = chars.ToList();

                                for (int j = 0; j < chars.Count; j++)
                                {
                                    KeyValuePair<string, string> pair = charList[j];
                                    string cssClass = j == 0 ? "d-grid gap-2" : "d-grid gap-2 mt-3";

                                    <a class="@cssClass" href="/Character/@pair.Key">
                                        <button type="button" class="btn btn-primary">
                                            @pair.Value
                                        </button>
                                    </a>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
